<html>
   <head>
	   <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
	   <link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png">
	   <script src="https://cdn.tailwindcss.com"></script>

       <script type="text/javascript" src="/eel.js"></script>
	   <script type="text/javascript">
			
	   </script>
   </head>

   <body>

		<div class="hero min-h-screen" style="background-image: url(../image/background.jpg);">
		<div class="navbar bg-base-100 divider glass">
			<a href="ip.html" class="btn btn-ghost text-xl">IP</a>
			<div class="divider divider-horizontal"></div>
			<a href="udp.html" class="btn btn-ghost text-xl">UDP</a>
			<div class="divider divider-horizontal"></div>
			<a href="tcp.html" class="btn btn-ghost text-xl">TCP</a>
			<div class="divider divider-horizontal"></div>
			<a href="dns.html" class="btn btn-ghost text-xl">DNS</a>
			<div class="divider divider-horizontal"></div>
			<a href="arp.html" class="btn btn-ghost text-xl">ARP</a>
			<div class="divider divider-horizontal"></div>
			<a href="icmp.html" class="btn btn-ghost text-xl">ICMP</a>
		</div>

		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="max-w-md">
				<h1 class="mb-5 text-7xl font-bold">Welcome</h1>
				<p class="mb-5 text-2xl">This web application allows you to send packets created from your inputs. Click on one of the options above to get started.</p>
				
			</div>
		</div>
		</div>
   </body>
</html>